@page
@model RazorPizzaa.Pages.PizzaSaleModel
@{
    ViewData["Title"] = "Pizza Sale";
}
<h1>Pizza Sales</h1>
<a asp-page="/Checkout/Checkout">Check Out</a>
<div class="container">
    <div class="row text-center">
        
            <div class="col-3"></div>
            <div class="col-3">
                <img class="w-100 bg-danger" src="~/images/Pizzas/Create.png" alt="Creat Your own Pizza"/>
            </div>
            <div class="col-3 bg-danger text-white text-center"> 
            <h1>Create Your own Pizza!</h1>
            
            <a class="btn btn-dark mx-auto" asp-page="/Forms/CustomPizza">Try!</a>
            </div>
            <div class="col-3"></div>
   

    @foreach (var pizza in Model.FakePizzaDb)
    {
        var imgPath = "~/images/Pizzas/"+pizza.ImageTitle+".png";
                <div class="col-3 mb-5">
                    <img   src="@imgPath" class="w-100 mt-3" asp-append-version=true/>
                    <a class="btn btn-primary" asp-page="/Checkout/Checkout" asp-route-Name="@pizza.Name" asp-route-ImageTitle="@pizza.ImageTitle"asp-route-PizzaPrice="@pizza.FinalPrice">Get This Pizza</a>
                </div>
    }

       </div> 
    </div>

